<div class="relative">
  <input
    [type]="type"
    [id]="id"
    [name]="name"
    [placeholder]="placeholder"
    [value]="value"
    [min]="min"
    [max]="max"
    [step]="step"
    [disabled]="disabled"
    [ngClass]="inputClasses"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
  />

  @if (hint) {
    <p class="mt-1.5 text-xs"
       [ngClass]="{
          'text-error-500': error,
          'text-success-500': success,
          'text-gray-500': !error && !success
        }">
      {{ hint }}
    </p>
  }
</div>
