<div>
  <app-page-breadcrumb pageTitle="Create Product" />

  <div class="grid grid-cols-1 gap-6 xl:grid-cols-1">
    <div class="space-y-6">
      <app-component-card title="New Product">

        @if(errorMessage){
          <div class="mb-4 rounded-lg border border-red-200 bg-red-50 p-3 text-red-700">
            {{ errorMessage }}
          </div>
        }
        @if(successMessage){
          <div class="mb-4 rounded-lg border border-green-200 bg-green-50 p-3 text-green-700">
            {{ successMessage }}
          </div>
        }

        <form (ngSubmit)="submit()" class="space-y-6">

          <div>
            <app-label for="title">Title:</app-label>
            <app-input-field
              type="text"
              id="title"
              name="title"
              placeholder="Title of product ..."
              [(ngModel)]="form.title"
            />
          </div>

          <div>
            <app-label for="description">Description:</app-label>
            <app-text-area
              name="description"
              [rows]="6"
              placeholder="Description ..."
              [(ngModel)]="form.description"
            ></app-text-area>
          </div>

          <div>
            <app-label>Provider:</app-label>
            <app-select
              name="providerId"
              [options]="providers"
              placeholder="Select a provider"
              [(ngModel)]="form.providerId"
              className="dark:bg-dark-900"
            ></app-select>
          </div>

          <div>
            <app-label for="price">Price:</app-label>
            <app-input-field
              type="number"
              id="price"
              name="price"
              placeholder="50 ..."
              [(ngModel)]="form.price"
            />
          </div>

          <div>
            <app-label for="imageSrc">Image URL:</app-label>
            <app-input-field
              type="text"
              id="imageSrc"
              name="imageSrc"
              placeholder="https://..."
              [(ngModel)]="form.imageSrc"
            />
          </div>

          <button
            type="submit"
            class="inline-flex items-center justify-center rounded-lg bg-success-500 px-4 py-3 text-theme-sm font-medium text-white shadow-theme-xs hover:bg-success-600 disabled:opacity-50 disabled:cursor-not-allowed"

          >
            {{ isSubmitting ? 'Creating...' : 'Create Product' }}
          </button>
<!--          [disabled]="!isValid || isSubmitting"-->
        </form>

      </app-component-card>
    </div>
  </div>
</div>
